# Data Science Assignment 1:

Assignment Problem on Descriptive Statistics
Problem:
Problem1:
    computes a summary of statistics using pandas, describe() function for following mtcars data sets given in URL
    data_URL='https://raw.githubusercontent.com/Learn-With-Karthik/REV-DataScience-Assignment/main/Data/mtcars.csv'

This car data set conatins following Columns details:
model-car model
mpg - Miles per Gallon
cyl - # of cylinders
disp - displacement, in cubic inches
hp - horsepower
drat - driveshaft ratio (don't really KNOW cars, so if you've got questions - you know what to do. :-D
wt - weight
qsec - 1/4 mile time; a measure of acceleration
vs - 'V' or straight - engine shape
am - transmission; auto or manual
gear - # of gears
carb - # of carburetors.
CODE 1:

In [2]:
import pandas as pd

In [8]:
data_URL='https://gist.githubusercontent.com/seankross/a412dfbd88b3db70b74b/raw/5f23f993cd87c283ce766e7ac6b329ee7cc2e1d1/mtcars.csv'
data = pd.read_csv(data_URL)
data.head(5)

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [9]:
data.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

Question2:
    find the mean, median,mode for mpg - Miles per Gallon coloumn in the given data set

In [15]:
mean = data['mpg'].mean()
print(mean)
median=data['mpg'].median()
print(median)
mode=data['mpg'].mode()
print(mode)

20.090625000000003
19.2
0    10.4
1    15.2
2    19.2
3    21.0
4    21.4
5    22.8
6    30.4
Name: mpg, dtype: float64

Question 3:
    find the range, Variance, standard deviation, IQR for hp - horsepower coloumn in the given data set

In [18]:
range1 = data['hp'].max()-data['hp'].min()
print(range1)

283

In [19]:
variance = data['hp'].var()
print(variance)

4700.866935483871

In [20]:
std= data['hp'].std()
print(std)

68.56286848932059

Question 4:
    find the frequency/mode of the car model

In [21]:
fre = data['model'].mode()
fre

0             AMC Javelin
1      Cadillac Fleetwood
2              Camaro Z28
3       Chrysler Imperial
4              Datsun 710
5        Dodge Challenger
6              Duster 360
7            Ferrari Dino
8                Fiat 128
9               Fiat X1-9
10         Ford Pantera L
11            Honda Civic
12         Hornet 4 Drive
13      Hornet Sportabout
14    Lincoln Continental
15           Lotus Europa
16          Maserati Bora
17              Mazda RX4
18          Mazda RX4 Wag
19               Merc 230
20              Merc 240D
21               Merc 280
22              Merc 280C
23             Merc 450SE
24             Merc 450SL
25            Merc 450SLC
26       Pontiac Firebird
27          Porsche 914-2
28         Toyota Corolla
29          Toyota Corona
30                Valiant
31             Volvo 142E
Name: model, dtype: object